@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #5372f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Serif", serif;
}
.cantenair{
    background-color: #fff;
    width: 400px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 51, 0.452);
}
.utilisateur{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    color: #999;
    text-transform: uppercase;
    font-size: 0.9rem;
}
.btn_controles{
    display: flex;
    justify-content: center;
    gap: 3px;
    overflow: hidden;    
}

.btn_controles button{
    width: 100px;
    border-radius: 6px;
    padding: 3px;
    outline: none;
    border: solid 2px #5372f0;
    background-color: #5372f0;
    transition: all 0.5s ease;
    color: #fff;
    text-transform: capitalize;
    font-weight: 700;
    box-shadow: 0 0  19px rgba(25, 25, 26, 0.171);
}
.btn_controles button:focus{
    background-color: #fff;
    color: #5372f0; 
}
.image-size{
    width: 50px; /* Ajustez la taille des images selon votre préférence */
    height: 50px;
    object-fit: cover;
    position: relative;
    left: 2px;
}
.result{
    margin: 10px auto;
    color: rgba(255, 255, 0, 0.801);
}
.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* ou la hauteur de votre choix */
    text-align: center; /* Centre le texte à l'intérieur */
}

/* Responsive Design */
@media (max-width: 768px) {
    .cantenair {
        width: 90%; /* Augmente la largeur pour les écrans moyens */
    }

    .btn_controles button {
        width: 80px; /* Réduit la largeur des boutons pour les écrans moyens */
    }

    .utilisateur {
        font-size: 0.8rem; /* Réduit la taille de la police pour les écrans moyens */
    }
}

@media (max-width: 480px) {
    .cantenair {
        width: 95%; /* Augmente la largeur pour les petits écrans */
        padding: 10px; /* Réduit le padding pour les petits écrans */
    }

    .btn_controles {
        flex-direction: column; /* Aligne les boutons verticalement sur les petits écrans */
        gap: 5px; /* Ajoute un espace entre les boutons */
    }

    .btn_controles button {
        width: 100%; /* Les boutons prennent toute la largeur sur les petits écrans */
    }

    .utilisateur {
        flex-direction: column; /* Aligne les éléments verticalement sur les petits écrans */
        text-align: center; /* Centre le texte */
    }

    .image-size {
        width: 40px; /* Réduit la taille des images pour les petits écrans */
        height: 40px;
    }
}