@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color:  #5372f4;
}
.container{
    width:375px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px #272626;
}
.container h2{
    border-bottom: solid 1px #999;
    width: 375px;
    margin-top: 2px;
}
.box_message input{
    width: 365px;
    height: 70px;
    border: solid 1px #999;
    margin: 10px;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 10px;
    text-align: center;
    color: black;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.btn input{
    width: 300px;
    text-align: center;
    color: #fff;
    outline: none;
    padding: 5px;
    border-radius: 6px  0  0 6px;
    border: solid 1px #675af0 ;
    background-color:#675af0 ;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}
.btn button{
    width: 60px;
    text-align: center;
    color: #4b4545;
    outline: none;
    padding: 5px;
    border-radius: 0 6px 6px 0;
    border: solid 1px #999;
    background-color: transparent;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        width: 90%; /* Changez la largeur à 90% pour les tablettes */
        padding: 5px; /* Réduisez le rembourrage */
    }

    .box_message input {
        width: calc(100% - 20px); /* Ajustez la largeur pour les écrans plus petits */
    }

    .container h2 {
        font-size: 1.5rem; /* Réduisez la taille de la police pour les petits écrans */
    }

    .btn input {
        width: 70%; /* Ajustez la largeur des boutons */
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px; /* Ajoutez du rembourrage pour éviter que le contenu touche le bord */
    }

    .container {
        width: 100%; /* Largeur à 100% pour les mobiles */
    }

    .box_message input {
        width: calc(100% - 20px); /* Ajustez la largeur des champs d'entrée */
        height: 60px; /* Modifiez la hauteur pour s'adapter aux petits écrans */
        font-size: 1rem; /* Réduisez la taille de la police */
    }

    .btn input {
        width: 65%; /* Ajustez la largeur des boutons sur les petits écrans */
    }

    .btn button {
        width: 50px; /* Réduisez la largeur du bouton */
    }

    .container h2 {
        font-size: 1.2rem; /* Réduisez encore la taille de la police pour les petits écrans */
    }
}

